nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    color: var(--Dark-01, #181818);
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
#r{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-right: 51px;
}
nav a{
    text-decoration: none;
    color: var(--Dark-02, #474747);
}
.btn-primary{
    border-radius: 5px;
    border: 0;
background: #FD6E0A;
color: var(--White-Color, #FFF);
font-size: 20px;
font-weight: 700;
padding: 15px 35px;
margin-top: 0;
}
/* Header Reladed Style */
.header{
    background: #FFF8F3;
    align-items: center;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.banner{
    padding: 30px 30px 0px 200px;
    display: flex;
    justify-content: space-between;
}
.b-greating{
    color: var(--Dark-02, #474747);

font-size: 45px;

font-weight: 600;
margin-bottom: 5px;

}
.b-title{
    color: var(--Dark-01, #181818);
font-size: 85px;
font-weight: 700;
margin-top: 0px;
margin-bottom: 20px;
}
.content{
    
    color: var(--Dark-03, #757575);

font-size: 18px;

font-weight: 400;
line-height: 30px; /* 166.667% */
    margin-bottom: 30px;
}
.about{
padding: 130px;   
border-radius: 10px;
background: #FFF8F3;
margin : 130px 0px ;
}
.about-title{
    color: var(--Dark-01, #181818);
text-align: center;

font-size: 35px;

font-weight: 700;

}
.about-discription{
    color: var(--Dark-03, #757575);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
 /* 166.667% */
text-align: center;
}
main{
    width: 1140px;
    margin: 0px auto;
}
main section{
    margin-top: 130px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.infodescriptione{
    color: #474747;

font-size: 20px;

font-weight: bolder;


}
.info-title{
    color: var(--Dark-03, #757575);
text-align: center;

font-size: 20px;

font-weight: 400;
 /* 150% */
}
#what-i-do{
    padding: 30px 115px;
}
.skill-container{
    display: flex;
    gap: 24px;
    
    
}
.skill{
    padding: 33px;
    
    
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description{
    color: var(--Dark-03, #757575);
    
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-instute , .resume-item-discription{
    color: var(--Dark-03, #757575);

}
.resume-item-title{
    font-size: 25px;
    font-weight: 700;
    color: var(--Dark-02, #474747);
}
.resume-column-title{
    color: var(--Dark-02, #474747);

font-size: 30px;

font-weight: 700;

}
.resume-container > hr{
    margin: 30px 0px;
}
.resume-instute{
    margin-bottom: 20px;
    margin-top: 0px;
}
.download-cv{
    margin-top: 50px;
    text-align: center;
}
.contact-title{
    color: var(--Dark-01, #181818);
/* text-align: center; */
font-size: 35px;
font-weight: 700;
}
.contact-para{
    color: var(--Dark-02, #474747);
font-size: 16px;
font-weight: 400;
}
footer{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 230px;
    margin-top: 100px;
}
.footer-column{
    width: 50%;
}
.contact input[type="text"],input[type="email"] , textarea{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: var(--Dark-03, #757575);
    border-radius: 5px;
background: var(--White-Color, #FFF);
    border: 0;
    width: 100%;


}
.social a{
    padding-right: 25px ;
}